/* Ficheiro de Código CSS */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

body,
html {
  height: 100%;
  line-height: 1.8;
  scroll-behavior: smooth;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("../Img/img-waves-down-2.png");
  min-height: 100%;
}

.bgimg-2 {
  background-position: center;
  background-size: cover;
  background-image: url("Img/img-waves-up-down.png");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

.Ascendium {
  text-align: center;
  font-size: 650%;
  font-weight: 1000;
  line-height: 0%;
  text-shadow: 2px 2px 2px lightgray;
}

.JuniorConsulting {
  text-align: center;
  font-size: 55px;
  font-weight: 800;
  text-shadow: 2px 2px 2px lightgray;
}

#SocialMain {
  padding-bottom: 10%;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 600px) {
  #SocialMain {padding-bottom: 35%;}
}

.Equipa {
  text-align: center;
  font-size: 55px;
  font-weight: 1000;
  line-height: 0%;
  text-shadow: 2px 2px 2px lightgray;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

button.accordion::after {
  font-size: 20px;
  content: "\002B";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

button.accordion.active:after {
  content: "\2212";
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: white;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  text-align: justify;
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/*

  ESTILOS DA PÁGINA DA EQUIPA

*/

.bgimg-Equipa-Top {
  background-position: center;
  background-size: cover;
  background-image: url("Img/img-waves-down.png");
  min-height: 5%;
  height: 50%;
}

.bgimg-Equipa-Side {
  background-image: url("Img/img-waves-left-right.png"), url("Img/img-waves-right-left.png");
  background-repeat: repeat-y;
  background-size: 10%, 10%;
  background-position: 0%, 100%;
}

.Card-Team-Grid-Title{
  margin-inline: 25%;
}

.Card-Team-Grid{
  margin:1% 20%; 
  border-radius: 20px;
}

.Card-Team {
  padding: 0px !important;
  border-radius: 20px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 1.5%;
  width:30%;
}   

.Card-Team img {
  width:100%;
  border-radius: 20px 20px 0px 0px;
}    

.Card-Team-Title {
  font-size: 15px;
  margin: -15px;
  padding: 0px;
}

.Card-Team-Anchor {
  font-size: 22px;
  padding: 2.5%;
}
.CardAnchor:hover {
  opacity: 0.8;
}

.LinhaDois{
  margin-left: 18%
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 600px) {
  .Card-Team {margin: 0%; width: 100%; padding: 20%; align-items: center;}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 600px) {
  .LinhaDois {margin-left: 0;}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 600px) {
  .TitleTeam {text-align: center; font-size: 180%; width: 100%;}
}

/*

  ESTILOS DA PÁGINA DE CONTACTOS

*/

.logo {
  width: 3%;
  display: inline;
}

.bgimg-contacts {
  background-position: center;
  background-size: cover;
  background-image: url("Img/img-waves-down-2.png");
  min-height: 5%;
  height: 42%;
}

.map{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.map iframe{
  height:80%;
  width:100%;
  position:absolute;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 600px) {
  .map {padding-bottom:100%;};
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 600px) {
  #contactSide {margin-top: -40%;}
}

.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 1000;
}
.ascendium-green{
  background-color: #008037 !important;
} 
.padding24 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 600px) {
  #linksContacto {margin-top: -10%;}
}
