/* Ficheiro de Código CSS */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

body,
html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("Img/img-waves-down.png");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

.Ascendium {
  text-align: center;
  font-size: 100px;
  font-weight: 1000;
  line-height: 0%;
  text-shadow: 2px 2px 2px lightgray;
}

.JuniorConsulting {
  text-align: center;
  font-size: 55px;
  font-weight: 800;
  text-shadow: 2px 2px 2px lightgray;
}

